In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [2]:
en = create_engine('mysql://root:AIPL@lol14@localhost/ventasNY')
en.connect()

In [3]:
cdd = pd.read_csv('/home/spqr14/Documentos/Minería/mineria/Práctica 1/PrimeraEvaluacionMD/datos//nyc-rolling-sales.csv', encoding='utf8')

In [10]:
cdd['limpiarfecha']=cdd['SALE DATE'].map(lambda x:x.replace(' ', '|').split('|'))

In [14]:
cdd[['fecha','hora']]=cdd.limpiarfecha.apply(pd.Series)

In [16]:
cdd['fecha']=pd.to_datetime(cdd.fecha)

In [19]:
cdd['año']=cdd['fecha'].map(lambda x:x.year)
cdd['mes']=cdd['fecha'].map(lambda x:x.month)
cdd['dia']=cdd['fecha'].map(lambda x:x.day)

In [20]:
cdd_tiempo = cdd[['año','mes','dia']]

In [21]:
cdd_tiempo.head()

    año  mes  dia
0  2017    7   19
1  2016   12   14
2  2016   12    9
3  2016    9   23
4  2016   11   17

In [29]:
cdd_reg = cdd[['BOROUGH','NEIGHBORHOOD']]

In [33]:
cdd_reg.head()

      BOROUGH   NEIGHBORHOOD
0           1  ALPHABET CITY
204         1        CHELSEA
1007        1      CHINATOWN
1122        1   CIVIC CENTER
1445        1        CLINTON

In [31]:
cdd_reg.drop_duplicates(inplace=True)

/home/spqr14/Documentos/Minería/mineria/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
cdd_construccion = cdd[['GROSS SQUARE FEET','LAND SQUARE FEET']]

In [35]:
cdd_construccion.head()

  GROSS SQUARE FEET LAND SQUARE FEET
0              6440             1633
1             18690             4616
2              7803             2212
3              6794             2272
4              4615             2369

In [44]:
cdd['limpiaimpuestos']=cdd['TAX CLASS AT PRESENT'].map(lambda x:int(x[:1]))

ValueError: invalid literal for int() with base 10: ' '