In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [2]:
en = create_engine('mysql://root:AIPL@lol14@localhost/ventasNY')
en.connect()

In [3]:
cdd = pd.read_csv('/home/spqr14/Documentos/Minería/mineria/Práctica 1/datos/nyc-rolling-sales.csv', encoding='utf8')

In [43]:
cdd.head()

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,SALE PRICE,SALE DATE,id,limpiarfecha,fecha,hora,año,mes,dia,limpiaimpuestos
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,6625000,2017-07-19 00:00:00,1,"[2017-07-19, 00:00:00]",2017-07-19,00:00:00,2017,7,19,1
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,-,2016-12-14 00:00:00,2,"[2016-12-14, 00:00:00]",2016-12-14,00:00:00,2016,12,14,1
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,-,2016-12-09 00:00:00,3,"[2016-12-09, 00:00:00]",2016-12-09,00:00:00,2016,12,9,1
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,3936272,2016-09-23 00:00:00,4,"[2016-09-23, 00:00:00]",2016-09-23,00:00:00,2016,9,23,1
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,8000000,2016-11-17 00:00:00,5,"[2016-11-17, 00:00:00]",2016-11-17,00:00:00,2016,11,17,1

In [8]:
cdd['id'] = cdd.index+1
cdd.describe()

,Unnamed: 0,BOROUGH,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE,id
count,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000
mean,10344.359878,2.998758,4237.218976,376.224015,10731.991614,2.025264,0.193559,2.249184,1789.322976,1.657485,42274.500000
std,7151.779436,1.289790,3568.263407,658.136814,1290.879147,16.721037,8.713183,18.972584,537.344993,0.819341,24407.049617
min,4.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,4231.000000,2.000000,1322.750000,22.000000,10305.000000,0.000000,0.000000,1.000000,1920.000000,1.000000,21137.750000
50%,8942.000000,3.000000,3311.000000,50.000000,11209.000000,1.000000,0.000000,1.000000,1940.000000,2.000000,42274.500000
75%,15987.250000,4.000000,6281.000000,1001.000000,11357.000000,2.000000,0.000000,2.000000,1965.000000,2.000000,63411.250000
max,26739.000000,5.000000,16322.000000,9106.000000,11694.000000,1844.000000,2261.000000,2261.000000,2017.000000,4.000000,84548.000000

In [10]:
cdd['limpiarfecha']=cdd['SALE DATE'].map(lambda x:x.replace(' ', '|').split('|'))

In [14]:
cdd[['fecha','hora']]=cdd.limpiarfecha.apply(pd.Series)

In [16]:
cdd['fecha']=pd.to_datetime(cdd.fecha)

In [19]:
cdd['año']=cdd['fecha'].map(lambda x:x.year)
cdd['mes']=cdd['fecha'].map(lambda x:x.month)
cdd['dia']=cdd['fecha'].map(lambda x:x.day)

In [20]:
cdd_tiempo = cdd[['año','mes','dia']]

In [21]:
cdd_tiempo.head()

    año  mes  dia
0  2017    7   19
1  2016   12   14
2  2016   12    9
3  2016    9   23
4  2016   11   17

In [29]:
cdd_reg = cdd[['BOROUGH','NEIGHBORHOOD']]

In [33]:
cdd_reg.head()

      BOROUGH   NEIGHBORHOOD
0           1  ALPHABET CITY
204         1        CHELSEA
1007        1      CHINATOWN
1122        1   CIVIC CENTER
1445        1        CLINTON

In [31]:
cdd_reg.drop_duplicates(inplace=True)

/home/spqr14/Documentos/Minería/mineria/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
cdd_construccion = cdd[['GROSS SQUARE FEET','LAND SQUARE FEET']]

In [35]:
cdd_construccion.head()

  GROSS SQUARE FEET LAND SQUARE FEET
0              6440             1633
1             18690             4616
2              7803             2212
3              6794             2272
4              4615             2369

In [44]:
cdd['limpiaimpuestos']=cdd['TAX CLASS AT PRESENT'].map(lambda x:int(x[:1]))

ValueError: invalid literal for int() with base 10: ' '